{{ define "main" }}
<div id="page-about" class="container page-single">
	<div class="row">
		<div class="col">
			<h1 class="page-heading-title">{{ .Title }}</h1>

			<div class="container">
				<div class="row">
					<div id="bio-img" class="col">
						<img src="{{ .Params.imgSrc }}" alt="Thomas Rinaldi">
					</div>
				</div>
				<div class="row">
					<div class="col page">
						{{- if .Params.bioTitle }}
						<h2 class="section-title mb-5">{{ .Params.bioTitle }}</h2>
						{{ end }}
						{{ .Content }} {{ partial "terms.html" (dict "taxonomy" "tags"
						"page" .) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
