{{ define "main" }}
<div class="container page-single">
	<div class="row">
		<div class="col">
			<div class="page-heading">
				<h1 class="page-heading-title">{{ .Title }}</h1>
				{{- $dirSegments := split .File.Dir "/" -}} {{- $category := index
				$dirSegments (sub (len $dirSegments) 3) -}} {{- $displayName := index
				$.Site.Params.categoryDisplayNames $category -}}
				<p class="page-heading-description">{{ $displayName }}</p>
			</div>
			{{- if .Params.tags }}
			<div class="tags-container">
				{{- if .Params.tags.releaseDate }}
				<div class="tag release-date">
					<ion-icon name="calendar-outline"></ion-icon>
					{{ .Params.tags.releaseDate }}
				</div>
				{{- end }}
				{{- if .Params.tags.genreData.genre }}
				<div class="tag genre">
					{{ if .Params.tags.genreData.genreIcon }}
						<ion-icon name="{{ .Params.tags.genreData.genreIcon }}"></ion-icon>
						{{- end }}
						{{ .Params.tags.genreData.genre }}
				</div>
				{{- end }}
				{{- if .Params.tags.engine }}
				<div class="tag engine">
					<ion-icon name="construct-outline"></ion-icon>
					<!-- <ion-icon name="build-outline"></ion-icon> -->
					{{ .Params.tags.engine }}
				</div>
				{{- end }}
			</div>
			{{ end }}
			{{- if .Params.imgSrc }}
				<img class="full-width" src="{{ .Params.imgSrc }}" alt="" />
			{{end}}
			<!-- 
			{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
			$dateHuman := .Date | time.Format ":date_long" }}
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -->
		</div>
	</div>
	<div class="row page">
		<div class="col">
			{{ .Content }}
			<!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
		</div>
	</div>
</div>
{{ end }}
